<p>
    Estimado {{user}} {{email}}, 
</p>
<p>
    Una nueva versi칩n de MedDRA ha sido publicada, puede revisar la informaci칩n en el siguiente <a href="{{ url }}">enlace</a>
</p>
<p>
    Este mensaje ha sido enviado autom치ticamente el {{ date }}.
</p>
<p>Este correo electr칩nico no debe ser respondido</p>